---
import siteConfig from '../../config/site.config';
---

<header class="bg-gray-800 text-white py-2">
    <div class="container mx-auto flex flex-col items-center px-4">
        <!-- タイトル -->
        <h1 class="text-3xl font-bold mb-4 text-center relative inline-block px-4 py-2 border-b-4 border-blue-400">
            {siteConfig.siteName}
        </h1>
        <!-- ナビゲーション -->
        <nav>
            <ul class="flex space-x-15 mb-2">
                <li>
                    <a
                        href="/"
                        class="text-xl text-white focus:outline-none cursor-pointer transition-colors duration-200 hover:text-blue-300"
                    >
                        Home
                    </a>
                </li>
                <li>
                    <a
                        href="/blog"
                        class="text-xl text-white focus:outline-none cursor-pointer transition-colors duration-200 hover:text-blue-300"
                    >
                        Blog
                    </a>
                </li>
                <li>
                    <a
                        href="/updates/1"
                        class="text-xl text-white focus:outline-none cursor-pointer transition-colors duration-200 hover:text-blue-300"
                    >
                        Updates
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
